body {

        ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #CBE07A;
            height: 47px;
        }

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #F6FEFF;
}

        logo {
    border:1px black;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 100px;
    margin-left: 20px;
    background-color: black;
        }
}
